    <h1 style="text-align:center;">CARGA TU PRODUCTO</h1>

    <form style="text-align: center;" action="/productos" method="post">
    Título: <input type="text" name="title" class="input-group mb-3" placeholder="Ingrese un producto" required>
   
    Precio: <input type="number" name="price" class="input-group mb-3" placeholder="ingrese el precio" required>
   
    Url: <input type="text" name="thumbnail" class="input-group mb-3" placeholder="ingrese URL de la imagen" required>
    <input type="submit" value="Ver Productos" class="btn btn-primary" style="margin-top: 2rem;">
        <button  type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
      </form>
      <a class="btn primary" href="/productos"><button>ver productos</button></a>